* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, sans-serif;
  }
  
  /* bagian foto background */
  .main {
    font-family: Arial, sans-serif;
    margin-bottom: 2rem;
  }
  
  .navbar {
    width: 100%;
    margin: auto;
    padding: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #c68b59;
  }
  
  .navbar-1 {
    display: flex;
    align-items: center;
  }
  
  /* bagian tulisan logo */
  .logo {
    font-size: 18px;
    margin-bottom: 1%;
    font-weight: bold;
  }
  
  /* bagian posisi tulisan navbar */
  .navbar ul li {
    list-style: none;
    display: inline-block;
    margin-left: 1rem;
  }
  
  /* bagian editing tulisan navbar */
  .navbar ul li a {
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: black;
  }
  
  .search-bar {
    border: 1px;
    overflow: hidden;
    border-radius: 20px;
  }
  
  #search-box {
    padding: 10px;
    border: none;
    font-size: 16px;
    width: 100%; /* Adjust width as needed */
    background-color: white;
  }
  
  #search-box:focus {
    outline: white;
  }
  
  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
  }
  
  .fa-search {
    font-size: 18px;
    color: #333;
  }
  
  /* bagian icon */
  .icon {
    display: flex;
    width: 100%;
  }
  
  .konten1 {
    width: 95%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
  }

  .konten2 {
    width: 100%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
    color: white;
    background-color: #716F6F;
  }
  
  .gambar {
    border-radius: 15px;
    width: 500px;
    height: 300px;
  }
  
  h1 {
    font-weight: 1000;
  }
  
  .teks {
    font-size: 15pt;
    text-align: justify;
    margin-top: 2rem;
  }
  
  
  .isikonten2 {
    margin-left: 2rem;
  }
  

  .isikonten-2 {
    margin-right: 1rem;
    margin-left: 2rem;
  }

  .gambar1 {
    width: 200px;
    border-radius: 15px;
    margin-right: 2rem;
  }

  .konten-2 {
    display: flex;
    align-items: center;
    padding: 20px 0;
    margin-left: 25rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  
  
  
  footer {
    background-color: #716f6f;
    color: white;
  }
  
  .footer-1 {
    display: flex;
    align-items: center;
    padding: 20px 0;
  }
  
  .footer-2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  footer ul {
    list-style: none;
  }
  
  footer ul li {
    display: inline-block;
  }
  
  .bagian-1 {
    justify-content: space-between;
  }
  
  footer ul li a {
    text-decoration: none;
    color: #fff;
  }
  
  .footer3 {
    display: flex;
  }
  