* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, sans-serif;
  }
  
  /* bagian foto background */
  .main {
    font-family: Arial, sans-serif;
    margin-bottom: 2rem;
  }
  .icon {
    display: inline-block;
    margin-right: 30px;
    margin-bottom: 10px;
  }
  
  .icon:last-child {
    margin-right: 30;
  }
  

  
  .navbar {
    width: 100%;
    margin: auto;
    padding: 3px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #c68b59;
    height: 100px;
    border-bottom-left-radius: 70px; 
    border-bottom-right-radius: 70px; 
    border-top-left-radius: 0px; /* Melengkungkan sudut kiri atas */
    border-top-right-radius: 0px; /* Melengkungkan sudut kanan atas */
  }
  
  .navbar-1 {
    display: flex;
    align-items: center;
    justify-content: center; /* Tambahkan ini agar semua item berada di tengah */

  }
  
  /* bagian tulisan logo */
  .logo {
    font-size: 18px;
    margin-bottom: 1%;
    font-weight: bold;
  }
  
  /* bagian posisi tulisan navbar */
  .navbar ul li {
    list-style: none;
    display: inline-block;
    margin-left: 1rem;
  }
  
  /* bagian editing tulisan navbar */
  .navbar ul li a {
    font-size: 18px;
    font-family: Arial, sans-serif;
    color: black;
  }
  
  .search-bar {
    border: 1px solid;
    overflow: hidden;
    border-radius: 30px;
  }
  
  #search-box {
    padding: 10px;
    border: none;
    font-size: 16px;
    width: 100%; /* Adjust width as needed */
    background-color: white;
  }
  
  #search-box:focus {
    outline: white;
  }
  
  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
  }
  
  .fa-search {
    font-size: 18px;
    color: #333;
  }
  
  /* bagian icon
  .icon {
    display: flex;
    width: 100%;
  }
   */
   
  .konten1 {
    width: 95%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
  }
  
  .gambar {
    border-radius: 15px;
    width: 500px;
    height: 300px;
  }
  
  h1 {
    font-weight: 1000;
  }
  
  .teks {
    font-size: 15pt;
    text-align: justify;
    margin-top: 2rem;
  }
  
  .teks1 {
    margin-top: 3rem;
  }
  
  .isikonten2 {
    margin-left: 2rem;
  }
  
  .konten2 {
    width: 100%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
  }
  
  .poto {
    margin: 25px;
    align-items: center;
  }

  .kontenkami {
    margin: auto;
    padding: 30px 0;
    background-color: #716F6F;
  }

  .wrapper {
    max-width: 85%;
    margin: auto;
    padding: 20px 20px 20px 20px;
    background-color: white;
    border-radius: 20px;
  }
  
  .wrapper > p,
  .wrapper > h1 {
    margin: 1.5rem 0;
    text-align: center;
  }
  
  .wrapper > h1 {
    letter-spacing: 3px;
  }
  
  .accordion {
    background-color: #B0926A;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
    font-size: 1.2rem;
    width: 100%;
    padding: 2rem 2.5rem;
    border: none;
    outline: none;
    transition: 0.4s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    border-radius: 20px;
  }
  
  .accordion i {
    font-size: 1.6rem;
  }
  
  .active,
  .accordion:hover {
    background-color: #6a78b0;
  }
  .pannel {
    padding: 0 2rem 2.5rem 2rem;
    background-color: #B0926A;
    overflow: hidden;
    background-color: #B0926A;
    display: none;
  }
  .pannel p {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.2rem;
    line-height: 1.4;
  }
  
  .faq {
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 10px 0;
    border-radius: 20px;
  }
  .faq.active {
    border: none;
    border-radius: 20px;
  }
  .form {
    display: flex;
    margin-left: 5rem;
  }
  
  
  .container {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .judul {
    font-size: 37px;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    font-size: 23px;
  }
  
  input[type="text"] {
    background-color: #B0926A;
    width: 230%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  form {
    margin-left: 5rem;
  }
  
  /* ::placeholder {
    font-weight: bold;
    color: black;
    font-size: 20px;
  } */

  .konten-2 {
    display: flex;
    align-items: center;
    padding: 20px 0;
    margin-left: 25rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  
 